<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="risco">
            <h2><span jhiTranslate="cetebApp.risco.detail.title">Risco</span> {{risco.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cetebApp.risco.descricao">Descricao</span></dt>
                <dd>
                    <span>{{risco.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="cetebApp.risco.status">Status</span></dt>
                <dd>
                    <span>{{risco.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/risco', risco.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
