<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="area">
            <h2><span jhiTranslate="cetebApp.area.detail.title">Area</span> {{area.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cetebApp.area.descricao">Descricao</span></dt>
                <dd>
                    <span>{{area.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="cetebApp.area.status">Status</span></dt>
                <dd>
                    <span>{{area.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/area', area.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
