<div>
    <h2 id="page-heading">
        <span jhiTranslate="cetebApp.advogado_cliente.home.title">Advogado Clientes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-advogado-cliente" [routerLink]="['/advogado-cliente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cetebApp.advogado_cliente.home.createLabel">
            Create new Advogado Cliente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="advogado_clientes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cetebApp.advogado_cliente.data_criacao">Data Criacao</span></th>
            <th><span jhiTranslate="cetebApp.advogado_cliente.data_exclusao">Data Exclusao</span></th>
            <th><span jhiTranslate="cetebApp.advogado_cliente.status">Status</span></th>
            <th><span jhiTranslate="cetebApp.advogado_cliente.cliente">Cliente</span></th>
            <th><span jhiTranslate="cetebApp.advogado_cliente.advogado">Advogado</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let advogado_cliente of advogado_clientes ;trackBy: trackId">
                <td><a [routerLink]="['/advogado-cliente', advogado_cliente.id, 'view' ]">{{advogado_cliente.id}}</a></td>
                <td>{{advogado_cliente.data_criacao | date:'mediumDate'}}</td>
                <td>{{advogado_cliente.data_exclusao | date:'mediumDate'}}</td>
                <td>{{advogado_cliente.status}}</td>
                <td>
                    {{advogado_cliente.cliente?.login}}
                </td>
                <td>
                    <div *ngIf="advogado_cliente.advogado">
                        <a [routerLink]="['../advogado', advogado_cliente.advogado?.id, 'view' ]" >{{advogado_cliente.advogado?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/advogado-cliente', advogado_cliente.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/advogado-cliente', advogado_cliente.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'advogado-cliente', { outlets: { popup: advogado_cliente.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
