<div>
    <h2 id="page-heading">
        <span jhiTranslate="cetebApp.tipoDocumento.home.title">Tipo Documentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-documento" [routerLink]="['/tipo-documento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cetebApp.tipoDocumento.home.createLabel">
            Create new Tipo Documento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tipoDocumentos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descricao"><span jhiTranslate="cetebApp.tipoDocumento.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="cetebApp.tipoDocumento.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoDocumento of tipoDocumentos ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-documento', tipoDocumento.id, 'view' ]">{{tipoDocumento.id}}</a></td>
                <td>{{tipoDocumento.descricao}}</td>
                <td *ngIf="tipoDocumento.status"> ATIVO</td>
                <td *ngIf="!tipoDocumento.status"> INATIVO</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tipo-documento', tipoDocumento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-documento', tipoDocumento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tipo-documento', { outlets: { popup: tipoDocumento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tipoDocumentos && tipoDocumentos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
