<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-advogado-heading" jhiTranslate="cetebApp.advogado.home.createOrEditLabel">Create or edit a Advogado</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!advogado.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="advogado.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cetebApp.advogado.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="advogado.nome" maxlength="150"/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 150 }">
                        This field cannot be longer than 150 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cetebApp.advogado.oab" for="field_oab">Oab</label>
                    <input type="text" class="form-control" name="oab" id="field_oab"
                        [(ngModel)]="advogado.oab" maxlength="8"/>
                    <div [hidden]="!(editForm.controls.oab?.dirty && editForm.controls.oab?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.oab?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cetebApp.advogado.oabUf" for="field_oabUf">Oab Uf</label>
                    <select class="form-control" id="field_oabUf" name="oabUf" [ngModel]="advogado.oabUf" (ngModelChange)="advogado.oabUf = $event">
                        <option *ngFor="let uf of ufs" [value]="uf">{{uf}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cetebApp.advogado.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="advogado.email" maxlength="255"/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cetebApp.advogado.telefone" for="field_telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone" id="field_telefone"
                        [(ngModel)]="advogado.telefone" maxlength="16" mask="(00) 0000-0000"/>
                    <div [hidden]="!(editForm.controls.telefone?.dirty && editForm.controls.telefone?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.telefone?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 11 }">
                        This field cannot be longer than 11 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group" style="padding-top: 32px;">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span>Status</span>

                            <div class="check-box-scged" style="padding-bottom: 29px;">
                                <input id="someSwitchOptionSuccess" type="checkbox" name="status"
                                       [(ngModel)]="advogado.status" />
                                <label for="someSwitchOptionSuccess" class="label-success"></label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cetebApp.advogado.tpadvogado" for="field_tpadvogado">Advogado</label>
                    <select class="form-control" id="field_tpadvogado" name="tpadvogado" [(ngModel)]="advogado.tipoAdvogado" >
                        <option [ngValue]="null">Selecione o Tipo de Advogado...</option>
                        <option [ngValue]="tipoAdvogadoOption.id === advogado.tipoAdvogado?.id ? advogado.tipoAdvogado : tipoAdvogadoOption" *ngFor="let tipoAdvogadoOption of tipoadvogados; trackBy: trackTipoAdvogadoById">{{tipoAdvogadoOption.descricao}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cetebApp.advogado.escritorio" for="field_escritorio">Advogado</label>
                    <select class="form-control" id="field_escritorio" name="escritorio" [(ngModel)]="advogado.escritorio" >
                        <option [ngValue]="null">Selecione o Escritório...</option>
                        <option [ngValue]="escritorioOption.id === advogado.escritorio?.id ? advogado.escritorio : escritorioOption" *ngFor="let escritorioOption of escritorios; trackBy: trackEscritorioById">{{escritorioOption.cnpj}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
