<div>
    <h2 id="page-heading">
        <span jhiTranslate="cetebApp.advogado.home.title">Advogados</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-advogado" [routerLink]="['/advogado/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cetebApp.advogado.home.createLabel">
            Create new Advogado
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="advogados">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="nome"><span jhiTranslate="cetebApp.advogado.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="oab"><span jhiTranslate="cetebApp.advogado.oab">Oab</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="oabUf"><span jhiTranslate="cetebApp.advogado.oabUf">Oab Uf</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="cetebApp.advogado.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefone"><span jhiTranslate="cetebApp.advogado.telefone">Telefone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="escritorio.id"><span jhiTranslate="cetebApp.advogado.escritorio">Escritorio</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="tipoAdvogado.id"><span jhiTranslate="cetebApp.advogado.tpadvogado">Tipo Advogado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let advogado of advogados ;trackBy: trackId">
                <td>{{advogado.nome}}</td>
                <td>{{advogado.oab}}</td>
                <td>{{advogado.oabUf}}</td>
                <td>{{advogado.email}}</td>
                <td>{{advogado.telefone}}</td>
                <td>
                    <div *ngIf="advogado.escritorio">
                        <a [routerLink]="['../escritorio', advogado.escritorio?.id, 'view' ]" >{{advogado.escritorio?.cnpj}}</a>
                    </div>
                </td>
                <!--<td>-->
                    <!--<div *ngIf="advogado.tipoAdvogado">-->
                        <!--<a [routerLink]="['../tipo-advogado', advogado.tipoAdvogado?.id, 'view' ]" >{{advogado.tipoAdvogado?.descricao}}</a>-->
                    <!--</div>-->
                <!--</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/advogado', advogado.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/advogado', advogado.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'advogado', { outlets: { popup: advogado.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="advogados && advogados.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
