<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoCliente">
            <h2><span jhiTranslate="cetebApp.tipoCliente.detail.title">Tipo Cliente</span> {{tipoCliente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cetebApp.tipoCliente.descricao">Descricao</span></dt>
                <dd>
                    <span>{{tipoCliente.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="cetebApp.tipoCliente.status">Status</span></dt>
                <dd>
                    <span>{{tipoCliente.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-cliente', tipoCliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
