<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="representado">
            <h2><span jhiTranslate="cetebApp.representado.detail.title">Representado</span> {{representado.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cetebApp.representado.nome">Nome</span></dt>
                <dd>
                    <span>{{representado.nome}}</span>
                </dd>
                <dt><span jhiTranslate="cetebApp.representado.contato">Contato</span></dt>
                <dd>
                    <span>{{representado.contato}}</span>
                </dd>
                <dt><span jhiTranslate="cetebApp.representado.email">Email</span></dt>
                <dd>
                    <span>{{representado.email}}</span>
                </dd>
                <dt><span jhiTranslate="cetebApp.representado.foneFixo">Fone Fixo</span></dt>
                <dd>
                    <span>{{representado.foneFixo}}</span>
                </dd>
                <dt><span jhiTranslate="cetebApp.representado.foneCel">Fone Cel</span></dt>
                <dd>
                    <span>{{representado.foneCel}}</span>
                </dd>
                <dt><span jhiTranslate="cetebApp.representado.status">Status</span></dt>
                <dd>
                    <span>{{representado.status}}</span>
                </dd>
                <dt><span jhiTranslate="cetebApp.representado.representado">Representado</span></dt>
                <dd>
                    <div *ngIf="representado.cliente">
                        <a [routerLink]="['/cliente', representado.cliente?.id, 'view']">{{representado.cliente?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/representado', representado.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
