<div>
    <h2 id="page-heading">
        <span jhiTranslate="cetebApp.tabela.home.title">Tabelas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tabela" [routerLink]="['/tabela/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cetebApp.tabela.home.createLabel">
            Create new Tabela
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tabelas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="descricao"><span jhiTranslate="cetebApp.tabela.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="clienteId"><span jhiTranslate="cetebApp.tabela.clienteId">Cliente Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <!--<th jhiSortBy="tipoTabelaId"><span jhiTranslate="cetebApp.tabela.tipoTabelaId">Tipo Tabela Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="dataCriacao"><span jhiTranslate="cetebApp.tabela.dataCriacao">Data Criacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="atual"><span jhiTranslate="cetebApp.tabela.atual">Atual</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="status"><span jhiTranslate="cetebApp.tabela.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="tabela.id"><span jhiTranslate="cetebApp.tabela.tabela">Tabela</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tabela of tabelas ;trackBy: trackId">
                <td><a [routerLink]="['/tabela', tabela.id, 'view' ]">{{tabela.id}}</a></td>
                <td>{{tabela.descricao}}</td>
                <!--<td>{{tabela.clienteId}}</td>-->
                <!--<td>{{tabela.tipoTabelaId}}</td>-->
                <td>{{tabela.dataCriacao | date:'mediumDate'}}</td>
                <td>{{tabela.atual}}</td>
                <!--<td>{{tabela.status}}</td>-->
                <td>
                    <div *ngIf="tabela.tabela">
                        <a [routerLink]="['../tipo-tabela', tabela.tabela?.id, 'view' ]" >{{tabela.tabela?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tabela', tabela.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tabela', tabela.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tabela', { outlets: { popup: tabela.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tabelas && tabelas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
