<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tribunal">
            <h2><span jhiTranslate="cetebApp.tribunal.detail.title">Tribunal</span> {{tribunal.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cetebApp.tribunal.nome">Nome</span></dt>
                <dd>
                    <span>{{tribunal.nome}}</span>
                </dd>
                <dt><span jhiTranslate="cetebApp.tribunal.sigla">Sigla</span></dt>
                <dd>
                    <span>{{tribunal.sigla}}</span>
                </dd>
                <dt><span jhiTranslate="cetebApp.tribunal.status">Status</span></dt>
                <dd>
                    <span>{{tribunal.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tribunal', tribunal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
