.titulos_card {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    background-color: #dedede;
}
.titulos_links {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.posicionamento_card {
    padding: 20px;
}

.posicionamento_titulo_card {
    padding: 30px 0 0 20px;
}
